

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;


}

a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  color: #665a5a;
}
.titlelogo{
  color: #030303;
  margin-right: 20px;
}

.navbar-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar-right {
  display: flex;
  gap: 15px;
}

.navbar img {
  width: 27px;
  height: 27px;
}
  .ShoppingCard{
    margin-top: 5px;
  }
.logo{
  margin-right: 7px;
}

.input__email {
  width: 70%;
  padding: 12px 18px;
  font-size: 16px;
  font-family: inherit;
  box-shadow: 0 0 0 1px #b9b6b6;
  border: none;
  border-radius: 25px;
  background-color: #ffffff;
  transition: all .3s;
  
}

.input__email::placeholder {
  color: #ce9797;
  font-size: 14px;
}

.input__email:focus {
  outline: none;
  box-shadow: 0 0 10px 1px #ee8c8c;
  border: none;
  transition: all .3s;
}
.NavCategorias{
  margin: 0 0 20px 20px;
}

