
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

a {
  text-decoration: none;
  color: black;
  display: inline-flex;
  align-items: center;
}

.navbar-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar-right {
  display: flex;
  gap: 15px;
}

.navbar img {
  width: 27px;
  height: 27px;
}
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://previews.dropbox.com/p/thumb/ACaGEEBGpNKlJ2AgGxG-1Rf03WzOjD5-v9_5BZpD0kT7y_wCaMOP_UYpIalrpIyD2_YkpVUuBbYvku7ZK9a9EDhyfNcrumXAp1uCn5l75s-9u6EoqBlNiQCfq6RPj20jk3d23HVi4vhq2xfUc_Fe9FiGBozYU6bK22-C3_9gRZXZp8K7pf3b9hdPwgRVW-da3MUb-OzNiJ4K65LiU-KJQWBQYCDZ5dbh14NdNtAL3wb7tyb1JFKCq3p38Z5GFkao5JTu7FxQE_CgCnH-Fnr63neFekcREI5iptUPbVo6q55z2qcY3o_19wfr0M84xQcncDoCopoCbtQWblkJ-THTd5Pi/p.jpeg?is_prewarmed=true");
    background-size: cover;
    z-index: -1;
    background-position: center;
  }

  .ShoppingCard{
    margin-top: 5px;
  }
