
.embla {
  overflow: hidden;
  width:100%;
  border-radius:7px;
}

.embla__container {
  display: flex;
  width: 100%; 

}

.embla__slide {
  flex: 0 0 100%; 
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.img_banner {
  width: 100%;
  height: auto; 
  object-fit: cover;
}
