body{
    color: rgb(20, 19, 19);
}

.card-wrapper {
    display: flex;
    gap: 10px;
  }
  

  .layout {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .layoutDetail {
    width: 100%;
  
    display: flex;
    gap: 16px;
  
    justify-content: center;
  }

  .containerCard{
    height: 340px;
    width: 760px;
    border: solid rgb(168, 168, 168) 1px;
    border-radius: 15px;
  }
