html, body {
    margin: 0;
    padding: 0;
    
  }
  
.outer-container {
    display: flex;
    justify-content: center;
 
    margin: 0;
  }
  
  .centered-container {
    width: 80%; 
    max-width: 1200px; 

    padding: 20px; 
    background: #ffffff00;
  }
  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://previews.dropbox.com/p/thumb/ACZ1a7J2sDwTdyDf1UbODpaIhN3429fi17k6m7J3FDuj2Dv8l8UI2VgsTo0Y55mekKrj4tYEdC4etxLpSu54jh6SP9RGjzmzvv2PZHg9ZOXTqFS8Cs9yCMxNGWst-0QHim-DUkgwxDz_vrpshEbDGrCjKYTH18s25LuM68mPQLovfk0nWEC9wbgquwiViEq1UilhX_M1Aw8z68jA-r-iMorHUdb5AZGzRGS3eZmXhs7_-FNpoGwlGFsZw630XfVovha6cn-NU7Q_S1BHP2_O-SugtZh5gb3mrrSn42CiNodOfy-dS7zZoVl49rLBqyNoDXl3C15AIxXuY7ZUbj-w2F8t/p.jpeg?is_prewarmed=true);
    background-size: cover;
    z-index: -1;
    background-position: center;
  }
