:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 300;
  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  --sb-track-color: #232E33;
  --sb-thumb-color: #232323;
  --sb-size: 5px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  border: 4px solid #232E33;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

.center{
  display: flex;
  justify-content: center; 
  align-items: center;  
}

.grow12{
  flex-grow: 1; 
  margin-top: 25px;
}

.bill{
  height:80px;
  float: right;
}

.ContainerCheckout{
  border: solid rgba(159, 158, 158, 0.587) 1px;
  padding: 10px;
  border-radius: 15px;
  background: #ffffff71;
}

.RemoveItem{
  cursor: pointer;
}
.RemoveItem:hover{
  text-decoration: underline;
  color: rgb(125, 125, 226);

}
